{package_name, "actordb"}.
{package_install_name, "actordb"}.
{package_install_user, "actordb"}.
{package_install_group, "actordb"}.
{package_install_user_desc, "ActorDB user"}.
{package_commands, {list, [[{name, "actordb"}],[{name, "actordbctrl"}]]}}.
{package_shortdesc, "ActorDB is a distributed SQL database"}.
{package_desc, "ActorDB is a distributed SQL database"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "actordb-patches"}.
{solaris_pkgname, "BIOKODAactordb"}.
{license_type, "Mozilla Public License 2.0"}.
{copyright, "2013 Biokoda d.o.o"}.
{vendor_name, "Biokoda d.o.o."}.
{vendor_url, "http://www.biokoda.com"}.
{vendor_contact_name, "Biokoda"}.
{vendor_contact_email, "actordb@biokoda.com"}.
{license_full_text, "This Source Code Form is subject to the terms of the Mozilla Public\n"
"License, v. 2.0. If a copy of the MPL was not distributed with this\n"
"file, You can obtain one at http://mozilla.org/MPL/2.0/."}.

