{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [{src_dirs,["src"]}]}.

{deps, [
{actordb_core,".*",{git,"https://github.com/setexams/actordb_core.git",{branch,"0.10.30"}}},
{node_package,".*",{git,"https://github.com/setexams/node_package.git",{branch,"4.0"}}},
{actordb_client,".*",{git,"https://github.com/setexams/actordb_client",{branch,"0.10.30"}}}
]}.
