{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [{src_dirs,["src"]}]}.

{deps, [
	{actordb_core,".*",{git,"https://github.com/setexams/actordb_core.git",{branch,"0.10.30"}}},
		{node_package,".*",{git,"https://github.com/setexams/node_package.git",{branch,"4.0"}}},
		{actordb_client,".*",{git,"https://github.com/setexams/actordb_client",{branch,"0.10.30"}}}
]}.

{profiles, [{prod, [{relx, [{release, {actordb, "0.10.30"},
	[actordb_console, actordb_core, node_package, actordb_client]},

	{dev_mode, false},
	{include_erts, true},
	{include_src, true},

	{sys_config, "etc/app.config"},
	{vm_args, "etc/vm.args"},

	{extended_start_script, true}]}]}]}.
