{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.

{require_otp_vsn, "R16|R15"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info,{src_dirs,["src"]}]}.

{deps, [
       {actordb_core,"0.5.2",{git,"https://github.com/biokoda/actordb_core.git",{tag,"0.5.2"}}},
       {node_package,".*",{git,"https://github.com/basho/node_package.git",{branch,"master"}}}
       ]}.
