[
  {actordb_core,[

    {main_db_folder,"var"},
  % {extra_db_folders,["/someplace/else"]},


    % How many subfolders to create under main_db_folder/actors and place db files there.
    % This is to avoid too many files in a single folder. 0 means no sub folders.
    {level_size,0},
 

    % Which port to listen to for mysql protocol. 0 for disabled
    {mysql_protocol, 33307},

    % How many transaction managers in node. 
    % They are used for transactions over more than one actor but not for writes to a single actor.
    % Higher number means more transaction managers that can work at the same time.
    % Too low the server will not be utilized well enough, too high and it will do too 
    % much work at the same time.
    {num_transaction_managers,12},

    % Maximum number of miliseconds to wait for DB queries to complete before they are canceled.
    % Set to 0 for no timeout.
    {query_timeout,60000},
  

  % Turning on sync on write will make it unusable on rotational hard drives. 
  % It will work fine for SSD drives, but will be slower. 
  % Every write is distributed to multiple servers using a two phase commit before 
  % acknowledging write back to client. 
  % This way writes are not dependent on a single hard drive and data is reasonably safe. 
  % Sync will not help you if your hard drive died or malfunctioned in some way and 
  % quite likely will not help you in an actual power outage, 
  % because there are many caching layers between the DB and hard drive. 
  % The only way to ensure data safety is redundancy, which ActorDB is designed to do.
    {sync,off}
  ]},


    {bkdcore,[
      {autocompile,["bkdcore","actordb_core"]},
      {rpcport,44381}
    ]},

   {kernel, [ 
            {inet_dist_listen_min, 44370},
            {inet_dist_listen_max, 44379}
          ]},

  {lager, [
      {colored, true},
      {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
          {formatter_config, [date, " ", time," [",severity,"] ",pid," ",module, " ",line, " ", message, "\n"]}]},
        {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
      ]}
    ]},

     %% SASL config
    {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
