{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "actordb", "0.9",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         ranch,
         actordb_core,
         bkdcore,
         distreg,
         lager
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},

       {boot_rel, "actordb"},
       {profile, embedded},
       {relocatable,true},
       {debug_info,strip},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, actordb_core, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, distreg, [{incl_cond, include}]},
       {app, ranch, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, wx, [{incl_cond, exclude}]}
      ]}.

{target_dir, "actordb"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "data"},
           {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "../actordbctrl", "\{\{erts_vsn\}\}/bin/actordbctrl.escript"},
           {template, "../deps/node_package/priv/base/runner", "bin/actordb"},
           {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},
           {copy, "files/dbfiles", "data/dbfileshere"},
                      
           
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/schema.yaml", "etc/schema.yaml"},
           {copy, "files/nodes.yaml", "etc/nodes.yaml"},
           {template, "files/vm.args", "etc/vm.args"},
           
           {template, "files/actordbctrl", "bin/actordbctrl"}
          ]}.
